#table{
width: 50vw;
border-color: red;
border: 2rem;
display: grid;
column-gap: 0;
grid-template-columns: repeat(2,1fr);
}


.tableData{
    border :1px solid black;
display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

p{
    font-weight: 900;

}

#parent{    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;}

    body{
        background-color: #adcfed;
    }

    #submitB{    border: 0;
        height: 3rem;
        border-radius: 3rem;
        background: #5bb1d7;
        width: 6rem;}