.b1,.b2{
    height: 3rem;
    width: 10rem;
margin-top: 2rem;    
background-color: lightgreen;
    border: 0;
    border-radius: 30rem;

}

body{
    background: lightcoral;
}

p{
    font-weight: bold;
    font-size: 2rem;
}

#div1{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    align-content: center;
}

form{
    padding: 4rem;
    border: 2px solid black;
    border-radius: 2rem;
    background: lightskyblue;
}

input{
    width:  15rem;
    height: 2rem;
}

#output{
    font-size: 2rem;
    font-weight: bold;
}